/* # RESET----------------------------------- */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/* # UTILS----------------------------------- */

.container {
    margin: 0 auto;
    padding: 0 10px;
    width: 1000px;
    max-width: 100%;
  }


/* # HEADER----------------------------------- */

.header_page >.container {
    display:flex;
    align-items: center;
}

.header_page >.container > .side {
    display:flex;
    align-items: center;
    width:200px;
}

.logo-container {
    justify-content: start;
}

.nav-bar {
    text-align: center;
    width: 600px;
}

.menu_item {
    display: inline-block
}

.login-container {
    justify-content: end;
}


/* # DEBUG----------------------------------- */

.debug {
    background-color: aqua;
    padding: 10px;
    border: 1px dotted black;
}

.debug .debug {
    background-color: rgb(231, 136, 255);
}

.debug .debug .debug {
    background-color: rgb(0, 255, 106);
}

.debug .debug .debug .debug {
    background-color: rgb(255, 191, 0);
}

.debug .debug .debug .debug .debug {
    background-color: rgb(255, 98, 0);
}


/* # SPECIFIC DEBUG----------------------------------- */

.header_page.debug {
    background-color: rgb(255, 187, 187);
}

.jumbotron {
    background-color: blue;
    padding:10px;
}